apiVersion: serving.knative.dev/v1alpha1
kind: Service
metadata:
  name: feheroes-svc
  namespace: heroes-kn-ns
spec:
  runLatest:
    configuration:
      revisionTemplate:
        spec:
          serviceAccountName: build-bot
          container:
            name: feheroes
            image: egsmcontenedor.azurecr.io/fehello-jib:0.0.1-SNAPSHOT
            imagePullPolicy: Always
            ports:
              - containerPort: 8085
